[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.8.5
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = 3.3.4
[submodule "Thirdparty/imgui/src"]
	path = Thirdparty/imgui/src
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "Thirdparty/math/dxmath"]
	path = Thirdparty/math/dxmath
	url = https://github.com/microsoft/DirectXMath.git
	branch = jan2021
