# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS Files
*.sln
*.vcxproj
*.filters
*.user
.vs
.vscode

# Build directory
build

# Log dumps
*.log

# MAC related ignores
Makefile
.idea
.DS_Store
*.xcodeproj
*.xcworkspace
*.plist
Debug-macosx-x86_64/