[submodule "Thirdparty/spdlog"]
	path = Thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
[submodule "Thirdparty/glfw"]
	path = Thirdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "Thirdparty/imgui/imgui"]
	path = Thirdparty/imgui/imgui
	url = https://github.com/ocornut/imgui.git
	branch = master